.jumbotron {
	color: Black;
	background-color: Yellow;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: Yellow;
	margin-botton: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;	
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}